.list-item {
  padding-bottom: 8px;
  border-bottom: 1px solid #DEE2E6;
  display: flex;
  gap: 8px;
  align-items: center;
}
.list-item__block {
  display: flex;
   flex-direction: column;
   gap:16px;
}
.list-item__title {
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding-top: 30px;
}
.list-item__content {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap:8px
}