
.review__block{
  display: flex;
  flex-direction: column;
  gap:24px

}
.review__list { 
  display: grid;
  gap:20px;
  grid-template-columns: repeat(3, 1fr);
}

.review {
  display: flex;
  flex-direction: column;
  gap:24px
}
.review__header {
  display: flex;
  justify-content: space-between;
}
.review__title {
  font-weight: 700;
  font-size: 16px;
  color: black;
}
.review__rating {
  display: flex;
  gap:8px;
  font-size: 16px;


}
.review__info {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

